

.navbar{
  background-color: rgb(6,40,44) !important;
  width: 100% !important;
  height: 100PX;
  padding: 0px;
  margin: 0px;
 
}
.navmenuright{
  color: white !important; 
  
}

body{
  background-color: #06282c;
 
}

#basic-nav-dropdown{
  color: white;
}


.hoempaages{
background-color: #06282c;
color: white;
}

#hooo{
  background-color: #06282c;

}
.homepageTextandpara{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.homeheading{
  color: #4ec6bc;
  width: 850px;
  padding-left: 140px;
  padding-top: 100px;
}
.homeparaa{
  width: 720px;
  padding-top: 40px;
  padding-left: 140px;
  color: white;
  text-align: justify;
}

.navbar{
  border-bottom: 2px solid #345054;
}

.paraandimg{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}
.imagehome img{
  width: 300px;
  height: 300px;
  margin-right: 100px;
}



